<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App Sensor Ultrasonido</title>


	<link rel="icon"  href="{{ url_for('static', filename='icons/favicon.png') }}" type="image/png" sizes="32x32">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.5.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}" >

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-color">
  <div class="offset-lg-3 container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" style="color:white;" href="/"> <img src="{{ url_for('static', filename='icons/iot-icon.png') }}" style="margin-right:6px;width:28px;"> <b>App IoT</b></a>
        </li>
          {% if not session['usuario'] %}
          <li class="nav-item">
            <a class="nav-link" href="/iniciarSesion"><i class="fas fa-user-plus"></i> Iniciar Sesi&oacute;n</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="/registrar"><i class="fas fa-sign-in-alt"></i> Registrarse</a>
          </li>-->
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/salir"><i class="fas fa-sign-out-alt"></i> Salir</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container" style="margin-top:20px">

    <div class="row">
        {% block content %}

        {% endblock content %}
    </div>

</div>

<!-- jQuery Version 1.11.1 -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.5.js') }}"></script>
<script type="text/javascript">

	$(document).ready(function(){
		{% block javascript%}
	    
	    {% endblock javascript%}
	});

</script>



</body>

</html>
