{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Listado de colisiones</h1>
    </div>
</div>

<div class="row mt-3">

       {% if session['usuario'] and session['rol'] == 0%}
            <form>
            <div class="col-lg-6 col-sm-12 offset-lg-3">
                <select id="select_user" class="form-select" aria-label="Default select example">
                    <option value="0" selected>Elige un usuario</option>
                    {% for value in datos %}
                        <option value="{{value['chipID']}}">{{value['userName']}} con ChipID: {{value['chipID']}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <div id="contenido_colisiones">

        </div>
        {% else %}
        {% for row in datos%}
                    <div class="col-lg-12 card_medidas mt-4">
                    <div class="mt-1 row"><h2 class="mt-3">Lugar del accidente</h2>
                    <div class="col-lg-6 text-start columna_key">Latitud </div> <div class="col-lg-6 text-end columna_valor">{{row[1]}}</div>
                    <div class="col-lg-6 text-start columna_key">Longitud </div> <div class="col-lg-6 text-end columna_valor">{{row[2]}}</div>
                    <div class="col-lg-6 text-start columna_key">Fecha accidente </div> <div class="col-lg-6 text-end columna_valor">{{row[4]}}</div>
                    <h4 class="mt-3">Mapa con posición</h4>
                    <iframe width="425" height="350" frameborder="0" scrolling="no"  arginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox={{row[2]}}%2C{{row[1]}}%2C{{row[2]}}%2C{{row[1]}}&amp;layer=mapnik&amp;marker={{row[1]}}%2C{{row[2]}}"></iframe>
                    <h4 class="mt-3">Imagen de la colisión</h4>
                    <img class="img-fluid mt-3" src="{{ url_for('static', filename='colisionImages/') }}{{row[3]}}"></div>
                    </div>
        {% endfor %}
        {% endif %}

</div>

{% endblock content %}

{% block javascript%}

$('#select_user').change(function(){
    lecturaColisiones();
});

function lecturaColisiones(){
    var fd = new FormData();
    var chipID = $('#select_user').val();
    fd.append('chipID',chipID);
    xhr = $.ajax({
    url: '/lectura_colisiones',
    type: 'post',
    data: fd,
    contentType: false,
    processData: false,
    success: function(data) {
        var objeto = JSON.parse(data)
        console.log(objeto)
        if(objeto.estado){
        var html ='';
                        for(var i = 0; i < objeto.datos.length;i++){
                        console.log(i)
                        var fecha = new Date(objeto.datos[i][4].$date);
                        html = '<div class="col-lg-12 card_medidas mt-4"><div class="mt-1 row"><h2 class="mt-3">Lugar del accidente</h2>';
                        html += '<div class="col-lg-6 text-start columna_key">Latitud </div> <div class="col-lg-6 text-end columna_valor">'+objeto.datos[i][1]+'</div>';
                        html += '<div class="col-lg-6 text-start columna_key">Longitud </div> <div class="col-lg-6 text-end columna_valor">'+objeto.datos[i][2]+'</div>';
                        html += '<div class="col-lg-6 text-start columna_key">Fecha accidente </div> <div class="col-lg-6 text-end columna_valor">'+formatDate(fecha)+'</div>';
                        html += '<h4 class="mt-3">Mapa con posición</h4>';
                        var mapSite = 'https://www.openstreetmap.org/export/embed.html?bbox='+objeto.datos[i][2]+'%2C'+objeto.datos[i][1]+'%2C'+objeto.datos[i][2]+'%2C'+objeto.datos[i][1]+'&amp;layer=mapnik&amp;marker='+objeto.datos[i][1]+'%2C'+objeto.datos[i][2];
                        html += '<iframe width="425" height="350" frameborder="0" scrolling="no"  arginheight="0" marginwidth="0" src="'+mapSite+'"></iframe>';
                        var ruta = '{{ url_for("static", filename="colisionImages/") }}';
                        html += '<h4 class="mt-3">Imagen de la colisión</h4>';
                        html += '<img class="img-fluid mt-3" src="' + ruta + objeto.datos[i][3] +'"></div></div>';
                        }
            $('#contenido_colisiones').html(html);
        }else{
            $('#contenido_colisiones').html("No hay datos.");
        }
    }
  });
};

function formatDate(date){
    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();
    let hour = date.getHours();
    let minutes = date.getMinutes();
    let seconds = date.getSeconds();

    let cadena = ''

    if(day < 10){
      cadena += `0${day}`
    }else{
      cadena += `${day}`
    }
    if(month < 10){
      cadena += `/0${month}/${year} `
    }else{
      cadena += `/${month}/${year} `
    }

    if(hour < 10){
        cadena += `0${hour}:`
    }else{
        cadena += `${hour}:`
    }

    if(minutes < 10){
        cadena += `0${minutes}:`
    }else{
        cadena += `${minutes}:`
    }

    if(seconds < 10){
        cadena += `0${seconds}`
    }else{
        cadena += `${seconds}`
    }

    return cadena
};


{% endblock javascript%}