{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Bienvenido a App IoT</h1>
    </div>
</div>
<br/>

<div class="row mt-4">
    {% if session['usuario'] and session['rol'] == 0 %}
    <div class="col-lg-12">
        <form>
            <div class="col-lg-6 col-sm-12 offset-lg-3">
                <select id="select_user" class="form-select" aria-label="Default select example">
                    <option value="0" selected>Elige un usuario</option>
                    {% for value in datos %}
                        <option value="{{value['chipID']}}">{{value['userName']}} con ChipID: {{value['chipID']}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    {% elif session['usuario'] and session['rol'] == 1 %}
        <form>
            <input type="hidden" name="select_user" id="select_user" value="{{session['chipID']}}">
        </form>
    {% endif %}
</div>

{% if session['usuario'] %}
<div class="d-flex justify-content-center mt-3 mb-3" >
<div id="card_medidas" class="card" style="padding:20px">
    <h2 class="card__name text-center">Sensor de proximidad</h2>
  <div id="contenido" class="jumbotron text-center mt-5">

  </div>
    <div id="contenido_colision" class="jumbotron text-center mt-3">

    </div>
  
</div>

</div>
{% endif %}


{% endblock content %}
{% block javascript%}


{% if session['usuario'] and session['rol'] == 1 %}
    lecturasDatos();
{% endif %}

$('#select_user').change(function(){
    $('#contenido_colision').html('');
    lecturasDatos();
});
function lecturasDatos() {
    var fd = new FormData();
    var chipID = $('#select_user').val();
    fd.append('chipID',chipID);
  $.ajax({
    url: '/lectura_datos',
    type: 'post',
    data: fd,
    contentType: false,
    processData: false,
    success: function(data) {
        console.log(data)
        var obj = JSON.parse(data)
        console.log(data)
        if(obj.estado){
            //obj.datos[0]='0';
            var fecha = new Date(obj.datos[2].$date);
            var html = '<div class="mt-1 row"><div class="col-lg-6 text-start columna_key">Distancia </div> <div class="col-lg-6 text-end columna_valor">'+obj.datos[0]+'</div>';
            html += '<div class="col-lg-6 text-start columna_key">Tiempo </div> <div class="col-lg-6 text-end columna_valor">'+obj.datos[1]+'</div>';
            html += '<div class="col-lg-6 text-start columna_key">Última actualización </div> <div class="col-lg-6 text-end columna_valor">'+formatDate(fecha)+'</div>';
            if (parseInt(obj.datos[0]) <= 10 && parseInt(obj.datos[0]) >= 5){
              html += '<i class="fas fa-circle fa-10x mt-3" style="color: yellow;" id="icono_alerta"></i>'
              html += '<h4 class="mt-3">¡Cuidado, coche cerca!</h4>'
            }else if (parseInt(obj.datos[0]) < 5){
              html += '<i class="fas fa-circle fa-10x mt-3" style="color: red;" id="icono_alerta"></i>'
              html += '<h4 class="mt-3">¡Colisión!</h4>'
              var fecha2 = new Date(obj.colision[4].$date);
              var html2 = '<div class="mt-1 row"><h2 class="mt-3">Lugar del accidente</h2>';
              html2 += '<div class="col-lg-6 text-start columna_key">Latitud </div> <div class="col-lg-6 text-end columna_valor">'+obj.colision[1]+'</div>';
              html2 += '<div class="col-lg-6 text-start columna_key">Longitud </div> <div class="col-lg-6 text-end columna_valor">'+obj.colision[2]+'</div>';
              html2 += '<div class="col-lg-6 text-start columna_key">Fecha accidente </div> <div class="col-lg-6 text-end columna_valor">'+formatDate(fecha)+'</div>';
              var ruta = '{{ url_for("static", filename="colisionImages/") }}';
              html2 += '<img class="img-fluid mt-3" src="' + ruta + obj.colision[3] +'"></div>';
              $('#contenido_colision').html(html2);
            }else{
              html += '<i class="fas fa-circle fa-10x mt-3" style="color: green;" id="icono_alerta"></i>'
              html += '<h4 class="mt-3">No hay peligro</h4>'
            }
            $('#contenido').html(html);
        }else{
            $('#contenido').html("No hay datos.");
        }
    },
    complete: function() {

      setTimeout(lecturasDatos, 1000);
    }
  });
}

function formatDate(date){
    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();
    let hour = date.getHours();
    let minutes = date.getMinutes();
    let seconds = date.getSeconds();

    let cadena = ''

    if(day < 10){
      cadena += `0${day}`
    }else{
      cadena += `${day}`
    }
    if(month < 10){
      cadena += `-0${month}-${year} `
    }else{
      cadena += `-${month}-${year} `
    }

    if(hour < 10){
        cadena += `0${hour}:`
    }else{
        cadena += `${hour}:`
    }

    if(minutes < 10){
        cadena += `0${minutes}:`
    }else{
        cadena += `${minutes}:`
    }

    if(seconds < 10){
        cadena += `0${seconds}`
    }else{
        cadena += `${seconds}`
    }

    return cadena
};

{% endblock javascript%}