{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Escuchar Topics</h1>
    </div>
    <div class="offset-lg-2 col-lg-8 " style="margin-top:20px">
    <form class="row g-3" id="formTopic">
      <div class="col-12">
        <label for="topic" class="form-label">Topic</label>
        <input type="text" class="form-control" id="topic" name="topic" placeholder="Escribe # para escuchar todos" required>
      </div>
      <div class="d.col-12 d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" id="comenzar" value="Escuchar durante 20 segundos"></input>
      </div>
    </form>
        <div id="spinner" class="mt-5 d-none d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="mt-5" id="respuesta"></div>
</div>
</div>
<br/>
{% endblock content %}

{% block javascript%}
    $("#formTopic").submit(function(ev){
        ev.preventDefault();
        controlSpinner()
        $("#comenzar").prop("disabled",true);
	    		var fd = new FormData();
		        var topic = $("#topic").val();
		        fd.append('topic',topic);
		        $.ajax({
		            url: '/escucharTopic',
		            type: 'post',
		            contentType: false,
                    data: fd,
		            processData: false,
		            success: function(response){
		                if(response != 0){
		                	var obj = JSON.parse(response)
                            console.log(obj)
                            controlSpinner()

                            if (obj.messages.length>0){
                                //var html = "<b>Mensajes recibidos de "+obj.topic+":</b><br>"
                                var html="<b>Mensajes ordenados por orden de llegada</b><br>";
                                html +='<ul class="list-group">'

                                for(var i = 0; i < obj.messages.length;i++){
                                    html += '<li class="list-group-item">'
                                    html += "<b>Dispositivo: </b> " + obj.clientes[i] + " ";
                                    html += "<b>Texto: </b> " + obj.messages[i];
                                    html += '</li>';
                                }

                                html +='</ul>'
                            }else{
                                var html = "No hay ning&uacute;n mensaje<br>"
                            }
                            inyectarRespuesta(html);
                            $("#comenzar").prop("disabled",false);
		                }else{
		                	var html = "No se ha encontrado ningun dispositivo";
                            inyectarRespuesta(html);
                            $("#comenzar").prop("disabled",false);
		                }
		            },
		        });
	    	})
    function inyectarRespuesta(texto){
        $("#respuesta").html("")
        $("#respuesta").append(texto)
    }
    function controlSpinner(){
        $("#spinner").toggleClass("d-none")
    }
{% endblock javascript%}